<header class="p-3 shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          {{!-- <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg> --}}
       <img style=" width="40px" height="32" " src="https://www.yaponamama.uz/_nuxt/img/logo.2cdc733.svg" alt="" srcset="">
        </a>

        <ul class="nav col-12 col-lg-auto fw-semibold px-4 me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary"><i class="fs-5 bi bi-journal-album"></i> Learn</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary"><i class="fs-5 bi bi-clipboard"></i> Review</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary"><i class="fs-5 bi bi-chat-dots"></i> Community</a></li>
          <li><a href="#" class="nav-link px-2 text-secondary"><i class="fs-5 bi bi-journals"></i> Courses</a></li>
        </ul>

       
        <ul class="nav col-12 col-lg fs-5 fw-semibold px-4 me-lg-auto mb-2 justify-content-end  mb-md-0">
          <li><a href="#" class="nav-link px-3 text-danger"><i class="bi bi-fire"></i> <span class="fs-6"> Garyachka</span></a></li>
          <li><a href="#" class="nav-link px-3 text-secondary"><i class="bi bi-ubuntu"> </i><span class="fs-6"> 123</span> </a></li>
          <li><a href="#" class="nav-link px-3 text-secondary"><i class="bi bi-people-fill"></i> </a></li>
          <li><a href="#" class="nav-link px-3 text-secondary"><i class="bi bi-bell-fill"></i>  </a></li>
           <li class="px-4">
                <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://media.licdn.com/dms/image/D4D03AQF65TAAPBZAXg/profile-displayphoto-shrink_400_400/0/1690280152262?e=1697068800&v=beta&t=HA4DMpdWLl1mcRry5JGVQiHh-g1eyoAEDgORDP5FAQk" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#"><i class="bi bi-person-circle"></i> My profile</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear-fill"></i> Settings</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-question-circle-fill"></i> Help</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-exclamation-circle-fill"></i> Logout</a></li>
          </ul>
                </div>
           </li> 
        </ul>
     
       

        </div>
      </div>
    </div>
  </header>

