<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
  {{#if isRegistred}}
  {{>navbar}}
 {{/if}}
    <div class="container mt-5 ms-auto d-flex justify-content-center">
      {{{body}}}

    </div>

      {{>footer}}
</body>
</html>