{{!-- <img src="https://media.giphy.com/media/67ThRZlYBvibtdF9JH/giphy.gif" alt="" srcset=""> --}}

<div class="row d-flex justify-content-center mb-3">
    <div class="col-10 col-lg-6 d-flex justify-content-center">
        <img class="col-10 col-lg-8 border rounded d-flex justify-content-center" src="https://media.giphy.com/media/3o6Zt0KNPZgqZlCu6k/giphy.gif" alt="" srcset="">
    </div>
    <div class="col-12 d-flex justify-content-center">
    <h1 class="fw-bold my-3">Competetion complete!</h1>

    </div>
   <div class="row   my-3 d-flex gap-1 justify-content-center fs-5">
     <div class="col-10 mb-3 col-lg-6 pointsDiv d-flex justify-content-between">
        <span>Points <i class="bi  bi-hand-thumbs-up-fill text-warning"></i>  </span> <span>+15 <i class="bi bi-star-fill text-warning"></i></span>
    </div>
    <div class="col-10 col-lg-6 pointsDiv d-flex justify-content-between">
        <span>Score <i class="bi  bi-hand-index-thumb-fill text-warning"></i>  </span> <span>100% <i class="bi bi-bar-chart-fill text-success"></i></span>
    </div>
   </div>
    <div class="col-6 justify-content-center d-flex">

    <a href="/learn" class="btn btn-primary p-2 fw-semibold ps-5 pe-5">Continue</a>
    </div>
   
</div>

