<div class="container mt-5 mb-5 pb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>MCQ Quiz</h4><span>(5 of 20)</span></div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
</label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
</label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
</label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
</label>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-danger" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
            </div>
        </div>
    </div>
</div>





<!-- lesson details -->

<div class=" p-5 col-sm-10 col-lg-5 text-center  rounded-5 border border-1">
    <div class="row d-flex justify-content-center flex-lg-row align-items-center g-5 py-5">
        <div class="col-12 col-md-8 col-lg-6">
            {{!-- <img src="{{lessonDetail.lessonimgPath}}" class="lessonDetailsImgZoom d-block mx-auto img-fluid rounded-circle bg-info-subtle p-1 mb-3" alt="Bootstrap Themes" loading="lazy"> --}}
            <div class="img-magnifier-container">
                <img id="myimage" src="{{lessonDetail.lessonimgPath}}" class="lessonDetailsImgZoom d-block mx-auto img-fluid rounded-circle bg-info-subtle p-1 mb-3" alt="Bootstrap Themes" loading="lazy">
                <script>
                    /* Execute the magnify function: */
                    magnify("myimage", 2);
                    /* Specify the id of the image, and the strength of the magnifier glass: */
                </script>
            </div>
            <h1 class="fs-5 fw-bold text-body-emphasis bg-info-subtle p-1 rounded pt-2 pb-2 lh-1 mb-3">{{lessonDetail.lessonTitle}}</h1>
        </div>
        <div class="col-lg-12">
            <div class="">{{{lessonDetail.lessonDetails}}}</div>
            <div class="d-flex justify-content-center">
                {{#if isEnded}}
                <a type="button" class="btn btn-outline-danger btn-lg px-4" disabled> Done</a> {{else}}
                <a href="/lesson-done/{{lessonDetail._id}}" class="btn btn-outline-success mt-5 px-4"><i class="fas fa-save"></i> Done</a> {{/if}}
            </div>
        </div>
    </div>
</div>