<div class="container mb-5">
  <div class="position-relative p-5 col-lg-12 col-md-6 text-center text-muted bg-body border border-dashed rounded-5">
    <a href="/learn" type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></a>
  


   <div class="row d-flex justify-content-center flex-lg-row align-items-center ">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{lessonDetail.lessonimgPath}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-12">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{lessonDetail.lessonTitle}}</h1>
        <pre class="lead">{{{lessonDetail.lessonDetails}}}</pre>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          {{#if isEnded}}
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
          {{else}}
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Done</button>
        {{/if}}
        </div>
      </div>
    </div>




  </div>
  
 
</div>


 
