<div class="container">
  <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
    <button type="button" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
  
   <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{lessonDetail.lessonimgPath}}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{lessonDetail.lessonTitle}}</h1>
        <pre class="lead">{{{lessonDetail.lessonDetails}}}</pre>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          {{#if isEnded}}
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
          {{else}}
          <button type="button" class="btn btn-danger btn-lg px-4 me-md-2">Done</button>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
  
 
</div>
{{!-- 
<div class="container col-xxl-8 px-4 py-5">
   
  </div>
  --}}
