body {
    font-family: "Inter", sans-serif;
    /* Replace "Your Custom Font" with the actual name of your font */
}


/* Items */

.item-hover:hover {
    background-color: rgb(243, 248, 254);
    transition: background-color 0.2s ease 0s;
    border-radius: 8px;
}


/* Custom CSS */

.custom-border:hover {
    border-color: #0d6efd !important;
    color: #0d6efd;
}