body {
    font-family: "Inter", sans-serif;
    /* Replace "Your Custom Font" with the actual name of your font */
}


/* Items */

.item-hover:hover {
    background-color: rgb(243, 248, 254);
    transition: background-color 0.2s ease 0s;
    border-radius: 8px;
}


/* Custom CSS */

.custom-border:hover {
    border-color: #0d6efd !important;
    color: #0d6efd;
}


/* .lessonDetailsImgZoom {
    width: 80%;
    padding: 2%;
}

.lessonDetailsImgZoom:hover {
    width: 100%;
} */


/* magnifer css */

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
}