body {
    font-family: "Inter", sans-serif;
    /* Replace "Your Custom Font" with the actual name of your font */
}


/* Items */

.item-hover:hover {
    background-color: rgb(243, 248, 254);
    transition: background-color 0.2s ease 0s;
    border-radius: 8px;
}


/* Custom CSS */

.custom-border:hover {
    border-color: #0d6efd !important;
    color: #0d6efd;
}


/* .lessonDetailsImgZoom {
    width: 80%;
    padding: 2%;
}

.lessonDetailsImgZoom:hover {
    width: 100%;
} */


/* magnifer css */

.img-magnifier-container {
    position: relative;
}

.img-magnifier-glass {
    /* position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none; */
    /*Set the size of the magnifier glass:*/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgba(255, 215, 0, 1);
    position: absolute;
    z-index: 20;
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
    /* display: none; */
    cursor: none;
}

.pointsDiv {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(218, 225, 234);
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: default;
}

.custom-scroll {
    /* border: 1px solid #ccc; */
    /* Set border color */
    max-height: 500px;
    /* Set maximum height */
    overflow: auto;
    /* Enable scrolling */
    overflow-x: auto;
    /* Enable horizontal scrolling */
}


/* Customize scrollbar track */

.custom-scroll::-webkit-scrollbar {
    width: 3px;
    border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
    background-color: #dadada;
    border-radius: 15px;
}


/* Customize scrollbar handle */

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
}


/* Change line height and color inside the scrollable area */

.custom-scroll-content {
    line-height: 1.5;
    /* Adjust line height as needed */
    color: #333;
    /* Set text color */
}